# Place this to /etc/systemd/system
# sudo systemctl start blackbox_exporter

[Unit]
Description=Prometheus Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
Restart=on-failure
ExecStart=/opt/blackbox_exporter/blackbox_exporter --config.file=/home/user/oncall/configs/blackbox.yml

[Install]
WantedBy=multi-user.target

